header {
    background-color: #ffffff;
    border: 3px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom:50px;
}
body {
    background-image: url(https://img.freepik.com/free-vector/blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg?size=626&ext=jpg)
}
h2 {
    color:#4aaaa5;
}
nav {
    position: absolute;
    right: 30px;
    top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 0px;
    margin: 3px;
}
.container {
    width: 960px;
    height: auto;
    background-color:#ffffff;
    border: solid 2px #dddddd;
    padding-left: 20px;
    padding-bottom: 20px;  
    margin: auto;
}
button {background-color:#4aaaa5;
color: white;
}
#message {
    height: 100px;
    width:900px;
    overflow: scroll;
    }
#name {
    width: 900px;
}
#email {
    width: 900px;
}
a:link {
    text-decoration: none;
}
h1 {
background-color:#4aaaa5;
    color: white;
    max-width: 250px;
    margin-left: 45px;
}